.Layout{
    margin: 0 auto;
}
.InputError{
    font-weight: bold;
    color:red;
    text-align: center;
    flex:1
}
.Row {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: nowrap row;
}

.Column{
    height: 100%;
    flex: 1;
    background-color: aqua;
    border:1px solid #333;
}


@media (min-width: 1200px) {

}